@import './main.scss';

.main {
  padding: 6rem;
  min-height: 100vh;

  :global {
    .content-connect {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      .address-connect {
        margin-top: $space-4;
      }
    }
  }
}
